@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
    overflow: hidden;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 67vw;
}

.container {
    padding: 1em 1.5em;
    background-color: var(--DarkBlue);
    border-radius: 0.9em;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: hsl(217, 12%, 25%);
    
}

.star svg{
    fill: var(--Orange);
}

.text {
    margin: 0;
    padding: 0;
}

.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.numbers button {
    background-color: hsl(217, 12%, 25%);
    color: var(--White);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none !important;
}

.numbers button:hover{
    background-color: var(--Orange);
}

.numbers button:focus{
    background-color: var(--LightGrey);
}

.submit button {
    width: -webkit-fill-available;
    height: 3.5em;
    background-color: var(--Orange);
    border-radius: 4em;
    color: var(--White);
    text-transform: uppercase;
    font-weight: 700;
    border: none !important;
}

.submit button:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.gratitude-text {
    text-align: center;
}

.selection {
    color: var(--Orange);
    background-color: hsl(217, 12%, 25%);
    padding: 0.5em;
    border-radius: 4em;
}

.gratitude-text span {
    background-color: transparent;
}

